.footer {
}
.footer__container {
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.footer__main {
}
.footer__logo {
}
.footer__address {
}
.address {
  font-style: normal;
}
.address__link {
}
.address__icon {
}
.footer_social {
}
.social {
}
.social__item {
}
.social__link {
}
.social__icon {
}
.footer__secondary {
}
.footer__title {
}
.footer__list {
}
.footer__item {
}
.footer__link {
}
.footer__copy {
}
.copy {
}
.copy__text {
}
.copy__list {
}
.copy__item {
}
.copy__link {
}
