.popular {
  margin-top: 90px;
  @media screen and (max-width: 767.98px) {
    margin-top: 45px;
  }
  @media screen and (max-width: 479.98px) {
    margin-top: 20px;
  }
}
.popular__container {
}
.popular__title {
  font-size: 36px;
  line-height: 1.19; /* 43/36 */

  text-transform: capitalize;

  text-align: center;

  margin-bottom: 55px;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 35px;
    font-size: 30;
  }
  @media screen and (max-width: 479.98px) {
    margin-bottom: 20px;
  }
}
.filter-popular {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;

  margin-bottom: 40px;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 479.98px) {
    gap: 15px;
  }
}
.filter-popular__item {
}
.filter-popular__link {
  padding: 13px 33px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  width: 210px;
  height: 70px;

  transition: background-color 250ms ease;
  &:hover {
    background-color: $hoverColor;
  }
  @media screen and (max-width: 767.98px) {
    width: 170px;
    height: 60px;
  }
  @media screen and (max-width: 479.98px) {
    width: 100px;
    height: 50px;
    padding: 3px 5px;
  }
}
.active {
  &.filter-popular__link {
    background-color: $hoverColor;
  }
}
.filter-popular__icon {
  width: 145px;
  fill: $blackColor;

  transition: fill 250ms ease;
  .filter-popular__link:hover & {
    fill: #ffffff;
  }
  .filter-popular__link.active & {
    fill: #ffffff;
  }
}
.popular__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (max-width: 767.98px) {
    gap: 20px;
  }
  @media screen and (max-width: 479.98px) {
    gap: 10px;
  }
}
.popular__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 208px;
  height: 279px;

  background-color: #ffffff;
  border-radius: 12px;

  @media screen and (max-width: 479.98px) {
    width: 140px;
  }
}

.card-popular__image {
  display: block;
  margin: 0 auto;
  width: 144px;
  margin-bottom: 25px;

  transition: scale 250ms ease;
  @media screen and (max-width: 479.98px) {
    margin-bottom: 15px;
  }
  &:hover {
    scale: 1.02;
  }
}
.card-popular__bottom {
  display: flex;
  flex-direction: column;
}
.card-popular__name {
  font-size: 15px;
  line-height: 1.2; /* 18/15 */
  text-align: center;
  margin-bottom: 10px;
}
.card-popular__price {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2; /* 18/15 */
  text-align: center;
  margin-bottom: 10px;
}
.card-popular__button {
  display: inline-block;
  margin: 0 auto;
}
