.subscribe {
  margin-bottom: 121px;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 80px;
  }
  @media screen and (max-width: 479.98px) {
    margin-bottom: 40px;
  }
}
.subscribe__container {
  background-color: $hoverColor;
  padding-top: 60px;
  padding-bottom: 55px;
  border-radius: 30px;

  @media screen and (max-width: 1261px) {
    border-radius: 0;
  }
  @media screen and (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.subscribe__title {
  font-size: 40px;
  line-height: 1.17; /* 47/40 */
  text-align: center;

  color: #ffffff;

  margin-bottom: 12px;
  @media screen and (max-width: 767.98px) {
    font-size: 28px;
  }
}
.subscribe__text {
  font-size: 16px;
  line-height: 1.87; /* 30/16 */

  text-align: center;

  color: #ffffff;

  opacity: 0.8;

  margin-bottom: 30px;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}
.subscribe__footer {
  max-width: 838px;
  position: relative;
  margin: 0 auto;
}
.subscribe__input {
  width: 100%;

  background: #ffffff;
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
  border-radius: 70px;

  padding: 25px 44px;

  font-size: 18px;
  line-height: 1.66; /* 30/18 */

  @media screen and (max-width: 479.98px) {
    padding: 10px 10px;
    font-size: 16px;
  }
}
.subscribe__button {
  border-radius: 70px;

  position: absolute;
  top: 17%;
  right: 2%;

  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 479.98px) {
    top: 11%;
    & img {
      display: none;
    }
  }
}
